<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>Mis à jour: {{ lastUpdate | date: "EEEE d MMMM y" | uppercase }}</p>
  <p>{{ promise | async }}</p>
  <!-- |async : dis à angular que l'objet  qui est là est, soit un observable soit un promise et que les données vont arrivées, il faut juste être patient et faire confiance -->

  <ul class="list-group">
    <p>test</p>
    <!-- <app-appareil
          [appareilName]="appareilOne"
          [appareilStatus]="'éteint'"
        ></app-appareil> -->

    <p style="margin-top: 100px">not a test lol</p>
    <app-appareil
      *ngFor="let appareil of appareils; let i = index"
      [indexOfAppareil]="i"
      [appareilName]="appareil.name"
      [appareilStatus]="appareil.status"
      [id]="appareil.id"
    ></app-appareil>
  </ul>
  <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">
    Tout allumer
  </button>
  <button class="btn btn-danger" [disabled]="!isAuth" (click)="onEtteindre()">
    Tout éteindre
  </button>
  <button class="btn btn-secondary" (click)="onSave()">Enregistrer</button>
  <button class="btn btn-secondary" (click)="onFetch()">Charger</button>
</div>
